.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black-20 {
    border-color: rgba(0, 0, 0, .2);
}

.fw6 {
    font-weight: 600;
}

.lh-copy {
    line-height: 1.5;
}

.mw8 {
    max-width: 64rem;
}

.w-100 {
    width: 100%;
}

.overflow-auto {
    overflow: auto;
}

.bg-white {
    background-color: #fff;
}

.pa4 {
    padding: 2rem;
}

.pr3 {
    padding-right: 1rem;
}

.pb3 {
    padding-bottom: 1rem;
}

.pv3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.mg-rt{
    margin-right: 10px;
}
.tl {
    text-align: left;
}
.tc{
    text-align: center;
}

.f6 {
    font-size: .875rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}
.fl-right{
    float: right;
}
.fl-left{
    float: left;
}
.inline-block{
    display: inline-block;
}

.nutrition-table{
    background-color: azure;
}

.ba {
    border-style: solid;
    border-width: 1px;
}

.bw1 {
    border-width: .125rem;
}

.bw2 {
    border-width: .25rem;
}

.dib {
    display: inline-block;
}

.fw6 {
    font-weight: 600;
}

.tracked {
    letter-spacing: .1em;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.black {
    color: #000;
}

.near-black {
    color: #111;
}

.dark-gray {
    color: #333;
}

.mid-gray {
    color: #555;
}

.white {
    color: #fff;
}

.purple {
    color: #5e2ca5;
}

.light-purple {
    color: #a463f2;
}

.dark-pink {
    color: #d5008f;
}

.hot-pink {
    color: #ff41b4;
}

.dark-green {
    color: #137752;
}

.navy {
    color: #001b44;
}

.dark-blue {
    color: #00449e;
}

.bg-black {
    background-color: #000;
}

.bg-near-black {
    background-color: #111;
}

.bg-dark-gray {
    background-color: #333;
}

.bg-mid-gray {
    background-color: #555;
}

.bg-purple {
    background-color: #5e2ca5;
}

.bg-light-purple {
    background-color: #a463f2;
}

.bg-dark-pink {
    background-color: #d5008f;
}

.bg-hot-pink {
    background-color: #ff41b4;
}

.bg-dark-green {
    background-color: #137752;
}

.bg-navy {
    background-color: #001b44;
}

.bg-dark-blue {
    background-color: #00449e;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.mb4 {
    margin-bottom: 2rem;
}

.mt4 {
    margin-top: 2rem;
}

.ttu {
    text-transform: uppercase;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

.header-block{
    height: 55px;
}
.command-block{
    height: 55px;
    background-color: pink;
   
}
.nutrition-list{
    background-color: #eee;
    width: 50%;
}

h3{
    /* padding-left: 10px; */
    padding-top: 10px;
    font-size: 20px;
}
.reset-btn{
    /* margin-right: 10px; */
    margin-top: 10px;
}
.add-item-btn{
    /* margin-right: 10px; */
    margin-top: 10px;
    margin-right: 10px;
    background-color: #fff;
    color:#137752;
}
.n-list{
    display: block;
}